@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --text:#020202;
  --text-2:#f0f0f0;
  --primary: #3aeba7;
  --secondary:#000000;
  --background: #f0f0f0;
  --background2: #cacaca;
  --background3: #151b25;
  --background4: #e0e0e0;
}


/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }